<!--<head>-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi"
		crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK"
		crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="main.css">
<!--</head>-->


<body>
	{#students}
	<div class="container page-break">


    {#studentDetails}
    <div class="row">
      <div class="col-md-4">Official Class: {officialClass}</div>
      <div class="col-md-4">Data current through {lastUpdateDetails.stars}</div>
      <div class="col-md-4">Class of: {classOrGrade}</div>
    </div>

    <div class="row bg-blue title-bar">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
            <h1>{name.lastFirst}</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <h5>
              Graduation Date:
              {?gradPlanningDetails.plannedGraduationDate}
                {gradPlanningDetails.plannedGraduationDate}
                {:else} <i>Date not set</i>
              {/gradPlanningDetails.plannedGraduationDate}
            </h5>
          </div>
          <div class="col-md-4">
            <h5>Class of: {classOrGrade}</h5>
          </div>
          <div class="col-md-4">
            <h5>
              Guidance Counselor:
              {?supportStaff.guidanceCounselor}
                {supportStaff.guidanceCounselor}
                {:else} <i>Not set</i>
              {/supportStaff.guidanceCounselor}
            </h5>
          </div>
        </div>
      </div>
    </div>
    {/studentDetails}

    <!-- On Track Boxes -->
    <div class="row">
      <div class="col-md-12">

        <div class="row on-track-container">

            <div class="box box-on-track">
              <div class="box-title">
                <h4>Regents</h4>
                <h2>On/Off Track</h2>
              </div>
              <div class="box-on-track-body">
                <h5>Passed of 5 Local: </h5>

                <h5>Passed of 5 Regents: </h5>

                <h5>Passed of 5 Advanced: </h5>

                <h5>Exams plannig to sit for: </h5>
              </div>
            </div>

            <div class="box box-on-track">
              <div class="box-title">
                <h4>Credits</h4>
                <h2>On/Off Track</h2>
              </div>
              <div class="box-on-track-body">
                <h5>Credits Earned: </h5>

                <h5>Credits Scheduled: </h5>

                <h5>Courses Scheduled: </h5>

                <h5>Courses Failing: </h5>
              </div>
            </div>

            {#attendanceDetails}
            <div class="box box-on-track">
              <div class="box-title">
                {@select key=currSy.ytd.percentPresent}
                  <h4>Attendance</h4>
                  {@gte value="0.9" type="number"}
                    <h2 class='font-on-track'>ON TRACK</h2>
                  {/gte}
                  {@none}
                    <h2 class='font-off-track'>OFF TRACK</h2>
                  {/none}
                {/select}
              </div>
              <div class="box-on-track-body">
                <h5>{currSy.year}: {@math key=100 method="multiply" operand=currSy.ytd.percentPresent/}%</h5>
                <h5>{priorSy.year}: {@math key=100 method="multiply" operand=priorSy.finalPercentPresent/}%</h5>
                <h5>{twoSyPrior.year}: {@math key=100 method="multiply" operand=twoSyPrior.finalPercentPresent/}%</h5>
                <h5>{threeSyPrior.year}: {@math key=100 method="multiply" operand=threeSyPrior.finalPercentPresent/}%</h5>
              </div>
            </div>
            {/attendanceDetails}

            <div class="box box-on-track">
              <div class="box-title">
                <h4>College Readiness</h4>
                <h2>On/Off Track</h2>
              </div>
              <div class="box-on-track-body">
                <h5>ELA: </h5>

                <h5>Math: </h5>

                <h5>Max SAT: </h5>

                <h5>Max ACT English: </h5>

                <h5>Max ACT Math: </h5>
              </div>
            </div>
        </div>
      </div>
    </div>


	</div>
	<!-- end page 1 -->

	<div class="page{@sep} page-break{/sep}">

	</div>
	<!-- end page 2 -->
	{/students}
</body>